<!DOCTYPE html>
<html>
  <head>
    <title>Internationalization Example</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <h1><%= __('Welcome to Express i18n App') %></h1>
    <p><%= __('Choose your language') %>:</p>
    <ul>
      <li><a href="/setlocale/en">English</a></li>
      <li><a href="/setlocale/fr">Français</a></li>
      <li><a href="/setlocale/es">Español</a></li>
    </ul>
  </body>
</html>
